* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background: linear-gradient(to bottom, #2bff00, #039427);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerPrincipal {
    width: 90%;
    max-width: 400px;
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

img {
    width: 80px;
    margin-bottom: 20px;
}

hr {
    width: 80px;
    height: 3px;
    background-color: #039427;
    border: none;
    margin: 10px auto;
}

.formLogin {
    margin-top: 20px;
}

form input {
    font-size: 18px;
    color: #555;
    border: 2px solid #D9D9D9;
    border-radius: 8px;
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    transition: 0.3s ease-in-out;
    margin-bottom: 15px;
}

form input:focus {
    border-color: #039427;
    outline: none;
    box-shadow: 0 0 10px rgba(3, 148, 39, 0.3);
}


.botaoLogin {
    background: linear-gradient(to right, #2bff00, #039427);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 15px 0;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
}

.botaoLogin:hover {
    background: linear-gradient(to right, #039427, #2bff00);
    box-shadow: 0 4px 8px rgba(3, 148, 39, 0.3);
}

.span {
    display: flex;
    width: 100%;
    max-width: 300px;
    margin: 20px auto 110px auto;
    font-size: 14px;
    color: #333;
}

.login{
    color: #03942700;
    font-size: 5px;
}

.loginErrado{
    color: red;
    text-align: center;
    font-size: 17px;
    margin: 17px 0
}

.loginErrado:hover{
    border-color: #c00a04;
    outline: none;
    box-shadow: 0 0 10px rgba(179, 2, 2, 0.3);
}
